/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 19, 2023, 10:12:01 AM
    Author     : Admin
*/

* {
    margin: 0;
    padding: 0;
}

/*----------------Navbar----------------*/
/*.navbar {
    height: 80px;
    width: 100%;
}

.nav-item{
    display: inline-flex;
    align-items: center;
}

#logo {
    font-size: 30px;
    color: black;
    font-weight: 700;
}

.navbar a {
    color: gray;
}

#slide {
    margin-top: 80px;
}

.nav-item a {
    font-size: 20px;
    font-weight: 400;
}

#logo {
    padding: 10px;
}

.nav-item {
    padding: 20px;
}

#toggle {
    color: black;
}

.nav-but {
    padding: 15px;
}

.nav-but .btn{
    display: inline-flex;
    align-items: center;
}
@media(max-width: 1080px) {
    .ul-bg {
        background-color: #f7dff8;
        text-align: center;
        height: 100vh;
        width: 100%;
    }

    .btnsearch {
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .nav-item {
        padding: 0px;
    }

    .nav-but {
        padding: 15px;
    }
}*/


/*-----------Paragraph--------------*/
.paragraph{
    margin-top: 80px;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white ;
}

.paragraph p{
    font-size: 20px;
    font-weight: 350;
    margin-top: 10px;
    padding-left: 100px;
    color: black;
}

@media(max-width:1080px){
    .paragraph p{
        padding-left: 10px;
    }
}
/*----------------giỏ hàng---------------*/
.giohang{
    margin-bottom: 30px;
}
.giohang .item-list {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 2%;
    margin-bottom: 10px;
}
.giohang .item-list img{
    width: 10%;
    height: auto;
    margin-left: 20%;
}

.list-item-content{
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
}
.list-item-content .btn{
    margin-left: 50px;
}

@media(max-width:1080px){
    .row-list{
        display: block;
    }
    .giohang .item-list img{
        width: 50%;
        height: auto;
        margin-left: 0;
    }
    .list-item-content{
        display: block;
        margin: 0 auto;
    }
    .list-item-content .btn{
        margin-left: 10px;
        margin-bottom: 10px;
    }
}
/*----------------News----------------*/
.news{
    text-align: center;
    height: 350px;
    background-color: rgb(226, 224, 224);
    margin-top: 10px;
}

.news .content{
    padding: 50px;
    font-weight: 700;
}

.news .content input{
    padding: 15px;
    width: 450px;
    border: 5px solid rgb(119, 118, 118);
    border-radius: 10px;
}

.news .content .btn{
    padding: 16px;
}

.news .content .input{
    padding: 10px;
}
.news .content .social{
    padding: 20px;
}
.news .content .social a{
    padding: 15px;
}

@media(max-width:768px){
    .news .content input{
        padding: 10px;
        width: 200px;
    }
    .news .content .btn{
        padding: 10px;
    }

    .news .content .social{
        padding: 5px;
    }
}


/*----------------Footer-----------------*/
.footers{
    background: black;
    height: 450px;
    text-align: left;
    display: flex;
    align-items: center;
}

.footers p,h6{
    color: white;
}
.footers a{
    text-decoration: none;
    color: white;
}

@media(max-width:768px){
    .footers p,.footers h6{
        font-size: 12px;
    }
    .footers a{
        font-size: 15px;
    }
}

/*----------------Single-item-----------------*/

.single-item{
    transition: 0.5s;

}

.single-item:hover{
    transform: scale(1.05);

}