/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 17, 2023, 10:52:47 AM
    Author     : Admin
*/

* {
    margin: 0;
    padding: 0;
}

/*----------------Navbar----------------*/
.navbar {
    height: 80px;
    width: 100%;
}

.nav-item{
    align-items: center;
}
.nav-item1{
    display: inline-flex;
    align-items: center;
}
#logo {
    font-size: 30px;
    color: black;
    font-weight: 700;
}

.navbar a {
    color: gray;
}

#slide {
    margin-top: 80px;
}

.nav-item a {
    font-size: 20px;
    font-weight: 400;
}

#logo {
    padding: 10px;
}

.nav-item {
    padding: 20px;
}

#toggle {
    padding: 10px;
    color: black;
}

.nav-but {
    padding: 15px;
}

.nav-but .btn{
    display: inline-flex;
    align-items: center;
}
@media(max-width: 1080px) {
    .ul-bg {
        background-color: #f7dff8;
        text-align: center;
        height: 100vh;
        width: 100%;
    }
    .btnsearch {
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .nav-item {
        padding: 0px;
    }

    .nav-but {
        padding: 15px;
    }
}

/*----------------Res-----------------*/

.res{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.row{
    padding: 15px;
}

.page-active {
    background-color: orange;
    color: white;
}

.row a{
    text-decoration: none;
    color: black;
}
/*----------------News----------------*/
/*.news{
    text-align: center;
    height: 350px;
    background-color: rgb(226, 224, 224);
    margin-top: 10px;
}
.news .content{
    padding: 50px;
    font-weight: 700;
}
.news .content input{
    padding: 15px;
    width: 450px;
    border: 5px solid rgb(119, 118, 118);
    border-radius: 10px;
}
.news .content .btn{
    padding: 16px;
}
.news .content .input{
    padding: 10px;
}
.news .content .social{
    padding: 20px;
}
.news .content .social a{
    padding: 15px;
}
@media(max-width:768px){
    .news .content input{
        padding: 10px;
        width: 200px;
    }
    .news .content .btn{
        padding: 10px;
    }
    .news .content .social{
        padding: 5px;
    }
}*/


/*----------------Footer-----------------*/
.footers{
    background: black;
    height: 450px;
    text-align: left;
    display: flex;
    align-items: center;
}

.footers p,h6{
    color: white;
}
.footers a{
    text-decoration: none;
    color: white;
}

@media(max-width:768px){
    .footers p,.footers h6{
        font-size: 12px;
    }
    .footers a{
        font-size: 15px;
    }
}
